<!--index, mypage, adminpage,-->

<div th:fragment="admin-sidebar">
            <div class="sidebar-filter">
              <div class="top-filter-head">Admin</div>
              <div class="common-filter">
                <div class="head">도서 관리</div>
                <form action="#">
                  <ul>
                    <li class="filter-list"><a href="#">도서</a></li>
                    <li class="filter-list"><a href="#">태그</a></li>
                    <li class="filter-list"><a href="#">카테고리</a></li>
                    <li class="filter-list"><a href="#">출판사</a></li>
                    <li class="filter-list"><a href="#">포장지</a></li>
                    <li class="filter-list"><a href="#">기여자</a></li>
                  </ul>
                </form>
              </div>

              <div class="common-filter">
                <div class="head">회원 관리</div>
                <form action="#">
                  <ul>
                    <li class="filter-list"><a href="#">회원 조회</a></li>
                    <li class="filter-list"><a href="#">Samsung</a></li>
                  </ul>
                </form>
              </div>
              <div class="common-filter">
                <div class="head">주문 관리</div>
                <form action="#">
                  <ul>
                    <li class="filter-list"><a href="#">전체 주문 조회</a></li>
                    <li class="filter-list"><a href="#">반품 목록</a></li>
                  </ul>
                </form>
              </div>
              <div class="common-filter">
                <div class="head">정책 관리</div>
                <form action="#">
                  <ul>
                    <li class="filter-list"><a href="#">배송비 정책</a></li>
                    <li class="filter-list"><a href="#">포인트 정책</a></li>
                    <li class="filter-list"><a href="#">포인트 정책</a></li>

                  </ul>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
  </section>
</div>



<div th:fragment="admin-sidebar">

      <div class="sidebar-filter">
        <div class="top-filter-head">Admin</div>
        <div class="common-filter">
          <div class="head">주문 내역</div>
          <form action="#">
            <ul>
              <li class="filter-list"><a href="/member/orders">주문 내역 조회</a></li>
              <li class="filter-list"><a href="/member/return">반품 내역</a></li>
              <li class="filter-list"><a href="/member/cancel">취소 내역</a></li>
              <li class="filter-list"><a href="/member/reviews">리뷰 내역 조회</a></li>
            </ul>
          </form>
        </div>

        <div class="common-filter">
          <div class="head">회원 정보 관리</div>
          <form action="#">
            <ul>
              <li class="filter-list"><a href="/member/my-page-update">개인정보 수정</a></li>
              <li class="filter-list"><a href="/member/rank">등급</a></li>
              <li class="filter-list"><a href="/member/coupons">할인쿠폰</a></li>
              <li class="filter-list"><a href="/member/deliveries">배송지 관리</a></li>
            </ul>
          </form>
        </div>
      </div>
    </div>


<div class="col-xl-3 col-lg-4 col-md-5" th:fragment="category-sidebar">
    <div class="sidebar-filter">
      <div class="top-filter-head">category</div>
      <div class="common-filter">
        <div class="head">국내도서</div>
        <form action="#">
          <ul>
            <li class="filter-list"><a href="#">건강/취미</a></li>
            <li class="filter-list"><a href="#">경제경영</a></li>
            <li class="filter-list"><a href="#">공무원 수험서</a></li>
            <li class="filter-list"><a href="#">과학</a></li>
            <li class="filter-list"><a href="#">달력/기타</a></li>
            <li class="filter-list"><a href="#">대학교재</a></li>
            <li class="filter-list"><a href="#">만화</a></li>
            <li class="filter-list"><a href="#">사회과학</a></li>
          </ul>
        </form>
      </div>
    </div>
</div>


