<!--index, mypage, adminpage,-->
<div th:fragment="sidebar">
  <section class="section-margin--small mb-5">
    <div class="container">
      <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-5">
          <div class="sidebar-filter">
            <div class="top-filter-head">Product Filters</div>
            <div class="common-filter">
              <div class="head">Browse Categories</div>
              <form action="#">
                <ul>
                  <li class="filter-list"><input class="pixel-radio" type="radio" id="men" name="brand">Men<span> (3600)</span></li>
                  <li class="filter-list"><input class="pixel-radio" type="radio" id="women" name="brand"><label for="women">Women<span> (3600)</span></label></li>
                  <li class="filter-list"><input class="pixel-radio" type="radio" id="accessories" name="brand"><label for="accessories">Accessories<span> (3600)</span></label></li>
                  <li class="filter-list"><input class="pixel-radio" type="radio" id="footwear" name="brand"><label for="footwear">Footwear<span> (3600)</span></label></li>
                  <li class="filter-list"><input class="pixel-radio" type="radio" id="bayItem" name="brand"><label for="bayItem">Bay item<span> (3600)</span></label></li>
                  <li class="filter-list"><input class="pixel-radio" type="radio" id="electronics" name="brand"><label for="electronics">Electronics<span> (3600)</span></label></li>
                  <li class="filter-list"><input class="pixel-radio" type="radio" id="food" name="brand"><label for="food">Food<span> (3600)</span></label></li>
                </ul>
              </form>
            </div>
            <div class="common-filter">
              <div class="head">Brands</div>
              <form action="#">
                <ul>
                  <li class="filter-list"><input class="pixel-radio" type="radio" id="apple1" name="brand"><label for="apple">Apple<span>(29)</span></label></li>
                  <li class="filter-list"><input class="pixel-radio" type="radio" id="asus" name="brand"><label for="asus">Asus<span>(29)</span></label></li>
                  <li class="filter-list"><input class="pixel-radio" type="radio" id="gionee" name="brand"><label for="gionee">Gionee<span>(19)</span></label></li>
                  <li class="filter-list"><input class="pixel-radio" type="radio" id="micromax" name="brand"><label for="micromax">Micromax<span>(19)</span></label></li>
                  <li class="filter-list"><input class="pixel-radio" type="radio" id="samsung1" name="brand"><label for="samsung">Samsung<span>(19)</span></label></li>
                </ul>
              </form>
            </div>
            <div class="common-filter">
              <div class="head">Color</div>
              <form action="#">
                <ul>
                  <li class="filter-list"><input class="pixel-radio" type="radio" id="black" name="color"><label for="black">Black<span>(29)</span></label></li>
                  <li class="filter-list"><input class="pixel-radio" type="radio" id="balckleather" name="color"><label for="balckleather">Black Leather<span>(29)</span></label></li>
                  <li class="filter-list"><input class="pixel-radio" type="radio" id="blackred" name="color"><label for="blackred">Black with red<span>(19)</span></label></li>
                  <li class="filter-list"><input class="pixel-radio" type="radio" id="gold" name="color"><label for="gold">Gold<span>(19)</span></label></li>
                  <li class="filter-list"><input class="pixel-radio" type="radio" id="spacegrey" name="color"><label for="spacegrey">Spacegrey<span>(19)</span></label></li>
                </ul>
              </form>
            </div>
            <div class="common-filter">
              <div class="head">Price</div>
              <div class="price-range-area">
                <div id="price-range"></div>
                <div class="value-wrapper d-flex">
                  <div class="price">Price:</div>
                  <span>$</span>
                  <div id="lower-value"></div>
                  <div class="to">to</div>
                  <span>$</span>
                  <div id="upper-value"></div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
</div>

<div th:fragment="adminSidebar">
    <section class="section-margin--small mb-5">
      <div class="container">
        <div class="row">
          <div class="col-xl-3 col-lg-4 col-md-5">
            <div class="sidebar-filter">
              <div class="top-filter-head">Admin</div>
              <div class="common-filter">
                <div class="head">도서 관리</div>
                <form action="#">
                  <ul>
                    <li class="filter-list"><input class="pixel-radio" type="radio" id="book" name="book">도서</li>
                    <li class="filter-list"><input class="pixel-radio" type="radio" id="tag" name="tag"><label for="tag">태그</label></li>
                    <li class="filter-list"><input class="pixel-radio" type="radio" id="category" name="category"><label for="category">카테고리</label></li>
                    <li class="filter-list"><input class="pixel-radio" type="radio" id="publisher" name="publisher"><label for="publisher">출판사</label></li>
                    <li class="filter-list"><input class="pixel-radio" type="radio" id="wrapper" name="wrapper"><label for="wrapper">포장지</label></li>
                    <li class="filter-list"><input class="pixel-radio" type="radio" id="contributor" name="contributor"><label for="contributor">기여자</label></li>
                  </ul>
                </form>
              </div>

              <div class="common-filter">
                <div class="head">회원 관리</div>
                <form action="#">
                  <ul>
                    <li class="filter-list"><input class="pixel-radio" type="radio" id="apple" name="brand"><label for="apple">회원 조회</label></li>
                    <li class="filter-list"><input class="pixel-radio" type="radio" id="samsung" name="brand"><label for="samsung">Samsung</label></li>
                  </ul>
                </form>
              </div>
              <div class="common-filter">
                <div class="head">주문 관리</div>
                <form action="#">
                  <ul>
                    <li class="filter-list"><input class="pixel-radio" type="radio" id="orderList" name="orderList"><label for="orderList">전체 주문 조회</label></li>
                    <li class="filter-list"><input class="pixel-radio" type="radio" id="returnList" name="returnList"><label for="returnList">반품 목록</label></li>
                  </ul>
                </form>
              </div>
              <div class="common-filter">
                <div class="head">정책 관리</div>
                <form action="#">
                  <ul>
                    <li class="filter-list"><input class="pixel-radio" type="radio" id="deliveryFeePolicy" name="deliveryFeePolicy"><label for="deliveryFeePolicy">배송비 정책</label></li>
                    <li class="filter-list"><input class="pixel-radio" type="radio" id="pointPolicy" name="pointPolicy"><label for="pointPolicy">포인트 정책</label></li>
                    <li class="filter-list"><input class="pixel-radio" type="radio" id="couponPolicy" name="couponPolicy"><label for="couponPolicy">포인트 정책</label></li>

                  </ul>
                </form>
              </div>
            </div>
          </div>
        </div>

      </div>
  </section>
</div>

