<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>E2BS - Home</title>
    <link rel="icon" href="../static/img/Fevicon.png" type="image/png">
    <link rel="stylesheet" href="../static/vendors/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../static/vendors/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="../static/vendors/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="../static/vendors/nice-select/nice-select.css">
    <link rel="stylesheet" href="../static/vendors/owl-carousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="../static/vendors/owl-carousel/owl.carousel.min.css">

    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
<!-- ================ category section start ================= -->
<section class="section-margin--small mb-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-4 col-md-5">
                <div class="sidebar-filter">
                    <div class="top-filter-head">Product Filters</div>
                    <div class="common-filter">
                        <div class="head">도서 관리</div>
                        <form action="#">
                            <ul>
                                <li class="filter-list"><input class="pixel-radio" type="radio" id="book" name="book">도서</li>
                                <li class="filter-list"><input class="pixel-radio" type="radio" id="tag" name="tag"><label for="tag">태그</label></li>
                                <li class="filter-list"><input class="pixel-radio" type="radio" id="category" name="category"><label for="category">카테고리</label></li>
                                <li class="filter-list"><input class="pixel-radio" type="radio" id="publisher" name="publisher"><label for="publisher">출판사</label></li>
                                <li class="filter-list"><input class="pixel-radio" type="radio" id="wrapper" name="wrapper"><label for="wrapper">포장지</label></li>
                                <li class="filter-list"><input class="pixel-radio" type="radio" id="contributor" name="contributor"><label for="contributor">기여자</label></li>
                            </ul>
                        </form>
                    </div>

                    <div class="common-filter">
                        <div class="head">회원 관리</div>
                        <form action="#">
                            <ul>
                                <li class="filter-list"><input class="pixel-radio" type="radio" id="apple" name="brand"><label for="apple">회원 조회</label></li>
                                <li class="filter-list"><input class="pixel-radio" type="radio" id="samsung" name="brand"><label for="samsung">Samsung</label></li>
                            </ul>
                        </form>
                    </div>
                    <div class="common-filter">
                        <div class="head">주문 관리</div>
                        <form action="#">
                            <ul>
                                <li class="filter-list"><input class="pixel-radio" type="radio" id="orderList" name="orderList"><label for="orderList">전체 주문 조회</label></li>
                                <li class="filter-list"><input class="pixel-radio" type="radio" id="returnList" name="returnList"><label for="returnList">반품 목록</label></li>
                            </ul>
                        </form>
                    </div>
                    <div class="common-filter">
                        <div class="head">정책 관리</div>
                        <form action="#">
                            <ul>
                                <li class="filter-list"><input class="pixel-radio" type="radio" id="deliveryFeePolicy" name="deliveryFeePolicy"><label for="deliveryFeePolicy">배송비 정책</label></li>
                                <li class="filter-list"><input class="pixel-radio" type="radio" id="pointPolicy" name="pointPolicy"><label for="pointPolicy">포인트 정책</label></li>
                                <li class="filter-list"><input class="pixel-radio" type="radio" id="couponPolicy" name="couponPolicy"><label for="couponPolicy">포인트 정책</label></li>

                            </ul>
                        </form>
                    </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- ================ category section end ================= -->





<script src="../static/vendors/jquery/jquery-3.2.1.min.js"></script>
<script src="../static/vendors/bootstrap/bootstrap.bundle.min.js"></script>
<script src="../static/vendors/skrollr.min.js"></script>
<script src="../static/vendors/owl-carousel/owl.carousel.min.js"></script>
<script src="../static/vendors/nice-select/jquery.nice-select.min.js"></script>
<script src="../static/vendors/jquery.ajaxchimp.min.js"></script>
<script src="../static/vendors/mail-script.js"></script>
<script src="../static/js/main.js"></script>
</body>
</html>